# Python
python/__pycache__
/output/
/python/depgraphs
/python/venv
/python/aisboms

# TypeScript
typescript/node_modules/
typescript/dist/
typescript/*.tsbuildinfo
typescript/generated-image-url.txt

# Java
java/target/
java/.m2/
java/generated-image-url.txt
